/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 62.5%;*/
  font-size: 50%;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

li,
button,
label,
input,
p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: 260;
}

h3 {
  font-size: 3rem;
  font-weight: 50;
}

h4,
h5 {
  font-size: 2.5rem;
  font-weight: 100;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 2rem 6rem;
  background: #4c6e97;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.btn:hover {
  background: #121c27;
}

/* Nav Section */

.main-head {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./assets/tim-mossholder-bo3SHP58C3g-unsplash.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home-head {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./assets/tim-mossholder-bo3SHP58C3g-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.home-head h3 {
  font-weight: 200;
}

.homepics {
  max-width: 40vw;
  max-height: 50vh;
}

nav {
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
  margin: auto;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#homenav {
  display: flex;
  flex: 2 1 70rem;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
}

.nav-border {
  list-style-position: inside;
  border-right: 1.5px solid white;
  border-left: 1px solid white;
}

#logo {
  flex: 2 1 30rem;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 500;
}

#logo li {
  font-size: 2 rem;
}

/*about info section */
.about-info {
  background: rgb(216, 188, 152);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: hue;
  min-height: 50vh;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-info h4 {
  padding: 3rem;
  font-weight: 150;
  color: #121c27;
}

.about-info img {
  padding: 2 rem;
}

/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./assets/tim-mossholder-bo3SHP58C3g-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 43vh;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-hero {
  background-position: center;
  min-height: 43vh;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

.hero .wrapper {
  width: 90%;
  margin: auto;
}

.about-head {
  font-size: 3rem;
  justify-content: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", sans-serif;
  background: rgb(1, 134, 152);
  color: white;
  opacity: 0.6;
}
/* Featured Books and Books Section */

.shop-head {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(1, 134, 152);
  color: white;
  opacity: 0.75;
}

.account-links {
  display: flex;
  padding-right: 5 px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
