/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 62.5%;*/
  font-size: 50%;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

li,
button,
label,
input,
p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: 260;
}

h3 {
  font-size: 3rem;
  font-weight: 50;
}

h4,
h5 {
  font-size: 2.5rem;
  font-weight: 100;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 2rem 6rem;
  background: #4c6e97;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.btn:hover {
  background: #121c27;
}

/* Nav Section */

.main-head {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./assets/tim-mossholder-bo3SHP58C3g-unsplash.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home-head {
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
    url(./assets/back-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.other-head {
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
    url(./assets/back-head.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -50px;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

#homeheight {
  min-height: 90vh;
}

.home-head h3 {
  font-weight: 200;
}

#home-head-nav {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.homepics {
  max-width: 20vw;
  max-height: 25vh;
}

nav {
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
  margin: auto;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#homenav {
  display: flex;
  flex-direction: column;
  flex: 2 1 70rem;
  margin-top: 20px;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
}

.nav-border {
  list-style-position: inside;
  border-right: 1.5px solid white;
  border-left: 1px solid white;
}

/*DropDown STuff */

#dropDownMenu {
  background: transparent;
  font-size: 2rem;
  border: transparent;
  padding-bottom: 2rem;
  max-width: 30vw;
  justify-content: left;
  align-items: center;
  color: white;
}

#dropDownMenu div {
  align-self: left;
}

#menuContainer {
  background: rgb(2, 79, 86);
  max-height: 2vh;
  max-width: 3vw;

  color: white;
}

#dropDownItem {
  background: transparent;
  min-height: 4vh;
  min-width: 7vw;
  text-align: center;
  color: white;
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

#dropDownItem:hover {
  background-color: rgb(28, 44, 111);
}

#account-links {
  list-style: none;
}

#logo {
  display: flex;
  color: rgb(93, 92, 92);
  width: 70vw;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 500;
}

#logo li {
  font-size: 2 rem;
}

.dropdownmenu {
  max-width: 20vw;
  max-height: 10vh;
}

/*about info section */
.about-info {
  color: white;
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: hue;
  min-height: 50vh;
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-info h4 {
  padding: 3rem;
  font-weight: 150;
  color: rgb(170, 168, 168);
}

.about-info img {
  padding: 2 rem;
}

/*Footer STuff */

#footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  max-height: 30vh;
  min-height: 20vh;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

#footer section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: center;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

#footer div {
  font-size: 2rem;
  margin-right: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Doner Section */
.doner-info {
  color: white;
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: hue;
  min-height: 50vh;
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.doner-head {
  font-size: 3.5rem;
  font-weight: 5;
  justify-content: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", sans-serif;
  background: rgb(28, 44, 111);
  color: rgb(170, 168, 168);
  opacity: 1;
}

.doner-info h4 {
  padding: 5rem;
  font-weight: 150;
  color: rgb(170, 168, 168);
}

/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./assets/back-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 43vh;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-hero {
  background-position: center;
  min-height: 43vh;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

.hero .wrapper {
  width: 90%;
  margin: auto;
}

.about-head {
  font-size: 3.5rem;
  font-weight: 5;
  justify-content: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", sans-serif;
  background: rgb(28, 44, 111);
  color: rgb(170, 168, 168);
  border-top: 2px solid black;
  opacity: 1;
}
/* Featured Books and Books Section */

.shop-info {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.shop-back {
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  display: flex;
  flex-direction: row;
  background-size: cover;
  min-height: 80vh;
}

.shop-head {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(28, 44, 111);
  color: white;
  opacity: 1;
}

.account-links {
  display: flex;
  padding-right: 5 px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.admin-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px #c7c7c7 solid;
  padding: 2rem;
}

.form-image {
  flex: 1 1 50rem;
}

.image-preview {
  width: 35rem;
}

.form-fields {
  flex: 3 1 50rem;
  text-align: left;
}

.form-fields input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
}

.form-fields textarea {
  width: 100%;
  font-size: 2rem;
}

.form-wrapper label {
  margin: 0rem 2rem;
  text-align: left;
}

.title-form,
.description-form,
.author-form,
.price-form,
.submit-form,
.featured-form {
  padding: 0.7rem;
}

.form-fields .featured-checkbox {
  width: 2rem;
  position: relative;
  top: 1.4rem;
}

.submit-form {
  width: 100%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  width: 90%;
  margin: auto;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  width: 48rem;
  height: 32rem;
  margin: 4rem 5rem;
  padding-bottom: 5rem;
  border-top: 1px solid #efefef;
  background: floralwhite;
}

.featured-list {
  justify-content: space-evenly;
}

.featured-item {
  margin: 8rem 5rem;
}

.item-image {
  flex: 3 1 100rem;
  padding: 2rem 0rem;
}

.item-link {
  flex: 1 1 100rem;
  background: #55606c;
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
}

.item-link:hover {
  background: #343c43;
}

.item img {
  min-height: 10vh;
  height: 21vh;
}

/* Item Details Section */

.item-details {
  display: flex;
  flex-direction: column;
  background: rgb(216, 188, 152);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80vh;
  text-align: center;
}

.detail-image {
  max-height: 40vh;
  max-width: 60vw;
  padding-bottom: 3 rem;
}

.detail-description {
  display: flex;
  flex: 1 1 50rem;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  padding: 0 5rem;
}
