/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 62.5%;*/
  font-size: 50%;
}

body {
  /*font-family: "Trebuchet MS", sans-serif;*/
  font-family: "proxima-nova", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

li,
button,
label,
input,
p {
  font-size: 1.5rem;
}

input[type="text"] {
  width: 60vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h2 {
  font-size: 4.8rem;
  font-weight: 260;
}

h3 {
  font-size: 3rem;
  font-weight: 50;
}

h4,
h5 {
  font-size: 2.5rem;
  font-weight: 100;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 1.5rem 6rem;
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  color: white;
  font-size: 2rem;
  text-transform: uppercase;

  margin-bottom: 1vh;
  margin-top: 1vh;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index: 10;
  -moz-box-shadow: 0px 0px 7px rgb(28, 44, 111);
  -webkit-box-shadow: 0px 0px 7px rgb(28, 44, 111);
  box-shadow: 0px 0px 7px rgb(28, 44, 111);
}

.btn:hover {
  background: #121c27;
}

/* Nav Section */

.main-head {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./assets/tim-mossholder-bo3SHP58C3g-unsplash.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home-head {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(./assets/back-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  max-height: 80vh;
}

.other-head {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url(./assets/back-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  display: flex;
  flex-direction: column;
  min-height: 4rem;
  max-height: 9rem;
}

#other-head-nav {
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  max-height: 8vh;
}

#other-head-nav > * {
  margin-top: 2vh;
}

#other-footer {
  max-height: 10vh;
}

#homeheight {
  min-height: 90vh;
}

#home-top {
  max-height: 10vh;
}

.home-head h3 {
  font-weight: 200;
}

#trans {
  border: 0px;
  background-color: transparent;
}

#home-head-nav {
  display: flex;
  justify-content: center;
}
#home-head-nav h2 {
  margin-top: 2rem;
}

.homepics {
  max-width: 20vw;
  max-height: 25vh;
}
.homeMoneyPics {
  width: 40vw;
}

nav {
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
  margin: auto;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#homenav {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(28, 44, 111), rgb(18, 28, 77));
  min-width: 12vw;
  flex: 2 1 70rem;
  margin-top: 2px;
  align-items: center;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
}

.nav-border {
  list-style-position: inside;
  border-right: 1.5px solid white;
  border-left: 1px solid white;
}

/*DropDown STuff */
.container {
  display: inline-block;
}

.bar {
  width: 2.5rem;
  height: 0.35rem;
  background-color: rgb(228, 227, 227);
  margin: 0.5rem 0;
}

#dropDownMenu {
  background: transparent;
  font-size: 2rem;
  border: transparent;
  max-width: 30vw;
  max-height: 10vh;
  border: 0px;
  justify-content: left;
  align-items: center;
  color: white;
}

#dropDownMenu div {
  align-self: left;
}

#menuContainer {
  background: rgb(2, 79, 86);
  max-height: 2vh;
  max-width: 3vw;

  color: white;
}

#dropDownItem {
  background: transparent;
  min-height: 4vh;
  min-width: 7vw;
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  margin-top: 1rem;
}

#dropDownItem:hover {
  font-size: 2rem;
}

#account-links {
  list-style: none;
}

#logo {
  display: flex;
  color: rgb(93, 92, 92);
  width: 70vw;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
}
#otherlogo {
  display: flex;
  color: rgb(93, 92, 92);
  width: 70vw;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

#logo li {
  font-size: 2 rem;
}

.dropdownmenu {
  max-width: 20vw;
  max-height: 10vh;
}

/*about info section */
.about-info {
  color: white;
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: hue;
  min-height: 50vh;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5vh;
  align-items: center;
  text-align: center;
}

.about-info h4 {
  margin-top: 1vh;
  font-weight: 150;
  color: rgb(170, 168, 168);
  display: flex;
  align-items: center;
}

.about-info div {
  max-width: 60vh;
  margin: 3%;
}

#sharePic {
  margin: 4%;
}

.about-info img {
  /*box-shadow: rgb(9, 13, 18) 0px 20px 40px -10px;*/
}

/*Footer STuff */

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  max-height: 20vh;
  min-height: 10vh;
  background-color: whitesmoke;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

#footer-left {
  width: 15vw;
  font-size: 3vw;
  font-family: "Signika", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  flex-wrap: wrap;
  position: relative;
}
#footer-center {
  max-width: 32vw;
  font-family: "Signika", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: 0.5vw;
}
#footer-right {
  max-width: 32vw;
  font-family: "Signika", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#footer-div {
  font-size: 0.6vw;

  font-family: Georgia, "Times New Roman", Times, serif;
}

#footer div:hover {
  text-decoration: underline;
}

#footer h4 {
  color: rgb(53, 53, 53);
  position: relative;
}

/* donor Section */
.donor-info {
  color: white;
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: hue;
  min-height: 50vh;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.donor-head {
  font-size: 3.5rem;
  font-weight: 5;
  justify-content: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  background: rgb(23, 37, 93);
  color: rgb(170, 168, 168);
  opacity: 1;
}

.donor-info h4 {
  padding: 5rem;
  font-weight: 150;
  color: rgb(170, 168, 168);
}

/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./assets/back-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 43vh;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-hero {
  background-position: center;
  min-height: 43vh;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

.hero .wrapper {
  width: 90%;
  margin: auto;
}

.about-head {
  font-size: 3.5rem;
  font-weight: 5;
  justify-content: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "proxima-nova", sans-serif;
  background: rgb(23, 37, 93);
  color: rgb(170, 168, 168);
  border-top: 2px solid black;
  opacity: 1;
}

.shop-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index: 10;
  padding: 10px;
  -moz-box-shadow: 0px 0px 7px #000000;
  -webkit-box-shadow: 0px 0px 7px #000000;
  box-shadow: 0px 0px 7px #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2rem;
}

.shop-info p {
  color: red;
  margin-top: 0.25rem;
}

.shop-back {
  background-image: linear-gradient(rgb(28, 44, 111), rgb(9, 14, 40));
  display: flex;
  flex-direction: row;
  background-size: cover;
  padding-bottom: 5vh;
  min-height: 80vh;
}

.shop-head {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(23, 37, 93);
  color: rgb(170, 168, 168);
  opacity: 1;
}

.account-links {
  display: flex;
  padding-right: 5 px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.admin-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px #c7c7c7 solid;
  padding: 2rem;
}

.form-image {
  flex: 1 1 50rem;
}

.image-preview {
  width: 35rem;
}

.form-fields {
  flex: 3 1 50rem;
  text-align: left;
}

.form-fields input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
}

.form-fields textarea {
  width: 100%;
  font-size: 2rem;
}

.form-wrapper label {
  margin: 0rem 2rem;
  text-align: left;
}

.title-form,
.description-form,
.author-form,
.submit-form,
.featured-form {
  padding: 0.7rem;
}

.featured-form label {
  padding-right: 2vw;
}

.bidInfo label {
  padding-right: 2vw;
}

.form-fields .featured-checkbox {
  width: 2rem;
  position: relative;
  top: 1.4rem;
}

.submit-form {
  width: 100%;
}

/*
For Items Featured List */

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);*/
  width: 48rem;
  min-height: 40rem;
  max-height: 70rem;
  background-image: linear-gradient(whitesmoke, rgb(167, 166, 166));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  margin: 8rem 5rem;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index: 10;
  padding: 10px;
  -moz-box-shadow: 0px 0px 7px #000000;
  -webkit-box-shadow: 0px 0px 7px #000000;
  box-shadow: 0px 0px 7px #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.item-image {
  justify-content: center;
  align-items: center;
}

.item-image img {
  /*
  max-width: 90%;
  max-height: 60%;
  */
  align-items: center;
  margin-bottom: 2rem;
  /*box-shadow: rgb(9, 13, 18) 0px 20px 40px -10px;*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index: 10;
  -moz-box-shadow: 0px 0px 7px #000000;
  -webkit-box-shadow: 0px 0px 7px #000000;
  box-shadow: 0px 0px 7px #000000;
}

.item-link {
  background: #55606c;
  font-size: 1.7rem;
  width: 100%;
  align-self: flex-start;
}

.item-link:hover {
  background: #343c43;
}

.item img {
  min-height: 10vh;
  height: 21vh;
  margin-top: 3vh;
}

/* Item Details Section */

.details {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(172, 172, 172), whitesmoke);
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 5vh;
  min-height: 80vh;
}

.detail-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 50vw;
  max-width: 90%;
  margin: 1rem 1rem;
  background-color: transparent;
  background-size: cover;
  padding: 2rem;
  /*
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index: 10;
  padding: 10px;
  -moz-box-shadow: 0px 0px 7px #000000;
  -webkit-box-shadow: 0px 0px 7px #000000;
  /*box-shadow: 0px 0px 7px #000000;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*height: 75%;
  padding: 0 5rem;*/
}

.detail-description > * {
  margin-bottom: 1vh;
}

.detail-description h2 {
  font-size: 4.5rem;
}

.detail-description p {
  font-size: 2.5rem;
}

.detail-description h3 {
  font-size: 1.7rem;
}

.detail-description h4 {
  color: red;
  font-size: 2rem;
}

.side-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-align: center;
}

.itemDetails-image {
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  min-width: 20vw;
  max-width: 30vw;
}

.itemDetails-image img {
  margin: 2rem 0rem;
  width: 100%;
  align-items: center;
  padding: 2rem;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index: 10;
  padding: 10px;
  -moz-box-shadow: 0px 0px 7px #000000;
  -webkit-box-shadow: 0px 0px 7px #000000;
  box-shadow: 0px 0px 7px #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.placeBid-image {
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.placeBid-image img {
  max-width: 50%;
  max-height: 60vh;
  align-items: center;
  padding: 1px;
  box-shadow: rgb(9, 13, 18) 0px 20px 40px -10px;
}

.placeBid-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.placeBid-description > * {
  margin-bottom: 2vh;
}

.placeBid-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: whitesmoke;
}

/*Checkout Section */

.checkout-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(172, 172, 172), whitesmoke);
  border: 0.2rem solid rgb(59, 59, 59);
  background-size: cover;
  padding: 2rem;
}

.checkout-form > * {
  margin-bottom: 1vh;
}
